In [1]:
import pandas as pd
import numpy as np
import re

#Importing and decoding the archive that i will clean.
#Changing the options so it displays every columns, which allows me to visualize better.
data = pd.read_csv('/Users/nico/Desktop/ironhack/Sharks_data_cleansing/Data/attacks.csv', encoding='latin1')
pd.set_option('display.max_columns', None)
data.head()






# Checking types, shape and nulls
data.info(memory_usage = 'deep')


#Finding duplicated rows and eliminating them
#Checking if columns were erased
p = data[data.duplicated()]
len(p)
data_no_dups = data.copy()
data_no_dups.drop_duplicates(inplace=True)
data_no_dups.shape
data.shape



# Erasing rows with more than half of the columns with value null

dataNoNulls_no_dups = data_no_dups[data_no_dups.isnull().sum(axis=1) < 14]

dataNoNulls_no_dups.info(memory_usage = 'deep')



# filling null values with 'unknown'
dataNoNulls_no_dups['Unnamed: 22'].fillna('unknown',inplace = True)
dataNoNulls_no_dups['Unnamed: 23'].fillna('unknown',inplace = True)
dataNoNulls_no_dups['Species '].fillna('unknown',inplace = True)




# sincee there are four columns with date and we are restricted to not erasing columns, i am checking 
# for mulls in 'Date' to be able to fill them and erase the values of the rest
pep = dataNoNulls_no_dups.copy()
pep[pep['Date'].isnull()]
        


pep["Time"] = pep["Time"].replace(r"[a-zA-Z0-9-]+", np.nan, regex=True)
pep.Time.fillna('Unknown',inplace= True)
pep.head()

pep[pep['Year'].isnull()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6302 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 9.4 MB

/var/folders/04/59t4vh2x34534rlkgcmfybl40000gn/T/ipykernel_36026/3820799834.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataNoNulls_no_dups['Unnamed: 22'].fillna('unknown',inplace = True)
/var/folders/04/59t4vh2x34534rlkgcmfybl40000gn/T/ipykernel_36026/3820799834.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataNoNulls_no_dups['Unnamed: 23'].fillna('unknown',inplace = True)
/var/folders/04/59t4vh2x34534rlkgcmfybl40000gn/T/ipykernel_36026/3820799834.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataNoNulls_no_dups['Species '].fillna('unknown',inplace = True)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
187,2017.01.08.R,Reported 08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,35,"No attack, shark made a threat display",NaN,Unknown,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0,unknown,unknown
6079,1836.08.19.R,Reported 19-Aug-1836,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,NaN,FATAL,Y,Unknown,unknown,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0,unknown,unknown

In [2]:
pep.at[187,'Year'] = '2017'
pep.at[6079,'Year'] = '1836'
pep= pep.astype({'Year':'int'})
pep.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6302 non-null   int64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    6302 non-null   object
 14  Species                 6302 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6302 non-null   float64
 22  Unnamed: 22             6302 non-null   object
 23  Unnamed: 23             6302 non-null   object
dtypes: float64(1), int64(1), object(22)
memory usage: 10.1 MB

In [3]:
#Cleaning country
pep[pep['Country'].isnull()].head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
62,2017.11.13.R,Reported 13-Nov-2017,2017,Unprovoked,NaN,NaN,NaN,Surfing,Timur Yunusov,M,24,Puncture wounds to feet,N,Unknown,unknown,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,unknown,unknown
525,2014.08.00,Aug-2014,2014,Invalid,NaN,NaN,NaN,Sea disaster,Cuban refugees,M,NaN,Shark involvement prior to death not confirmed,NaN,Unknown,Shark involvement not confirmed,"Associated Press, 11/27/2014",2014.08.00-Cuban-refugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.00,2014.08.00,5778.0,unknown,unknown
2956,1983.00.00.d,Ca. 1983,1983,Unprovoked,NaN,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,NaN,Left leg bitten,N,Unknown,unknown,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3347.0,unknown,unknown
3378,1970.11.00,Nov-1970,1970,Unprovoked,NaN,NaN,NaN,NaN,Heinz Plotsky,M,NaN,Extensive injuries,N,Unknown,unknown,"H.D. Baldridge (1994), SAF Case #1645",1970.11.00-NV-Plotsky.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.11.00,1970.11.00,2925.0,unknown,unknown
3387,1970.08.02,02-Aug-1970,1970,Invalid,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN,NaN,NaN,"Sharks scavenged on bodies, but no record of t...",NaN,Unknown,Shark involvement prior to death was not confi...,"Rome News Tribune, 8/3/1970",1970.08.02-Christina-ferryboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.08.02,1970.08.02,2916.0,unknown,unknown

In [4]:
# Filling nulls by distinguishing where is unknown snf where unknown but st sea
pep[pd.isna(pep['Country']) & pd.isna(pep['Activity'])].fillna('Unknown', inplace = True)
pep[pep['Country'].isnull()].head()

/var/folders/04/59t4vh2x34534rlkgcmfybl40000gn/T/ipykernel_36026/166541153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pep[pd.isna(pep['Country']) & pd.isna(pep['Activity'])].fillna('Unknown', inplace = True)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
62,2017.11.13.R,Reported 13-Nov-2017,2017,Unprovoked,NaN,NaN,NaN,Surfing,Timur Yunusov,M,24,Puncture wounds to feet,N,Unknown,unknown,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,unknown,unknown
525,2014.08.00,Aug-2014,2014,Invalid,NaN,NaN,NaN,Sea disaster,Cuban refugees,M,NaN,Shark involvement prior to death not confirmed,NaN,Unknown,Shark involvement not confirmed,"Associated Press, 11/27/2014",2014.08.00-Cuban-refugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.00,2014.08.00,5778.0,unknown,unknown
2956,1983.00.00.d,Ca. 1983,1983,Unprovoked,NaN,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,NaN,Left leg bitten,N,Unknown,unknown,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3347.0,unknown,unknown
3378,1970.11.00,Nov-1970,1970,Unprovoked,NaN,NaN,NaN,NaN,Heinz Plotsky,M,NaN,Extensive injuries,N,Unknown,unknown,"H.D. Baldridge (1994), SAF Case #1645",1970.11.00-NV-Plotsky.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.11.00,1970.11.00,2925.0,unknown,unknown
3387,1970.08.02,02-Aug-1970,1970,Invalid,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN,NaN,NaN,"Sharks scavenged on bodies, but no record of t...",NaN,Unknown,Shark involvement prior to death was not confi...,"Rome News Tribune, 8/3/1970",1970.08.02-Christina-ferryboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.08.02,1970.08.02,2916.0,unknown,unknown

In [5]:
index_cambiar = pep[pd.isna(pep['Country']) & pd.isna(pep['Activity'])].index

In [6]:
pep.loc[index_cambiar, ['Country', 'Activity']] = 'Unknown'

In [7]:
pep.loc[index_cambiar, ['Country', 'Activity']]

      Country Activity
3378  Unknown  Unknown
3388  Unknown  Unknown
3425  Unknown  Unknown
5060  Unknown  Unknown
6092  Unknown  Unknown
6165  Unknown  Unknown
6199  Unknown  Unknown

In [8]:
#seeing messy country values
len(pep.Country.unique())

214

In [9]:
#Cleaning fatal and giving it boolean values for averages 
pep.rename(columns={'Fatal (Y/N)': 'Fatal'}, inplace=True)
pep.Fatal.fillna('Unknown')
def clean_fatal(x):
   
    x=str(x)
    pattern1 = r'[nN]'
    pattern2 = r'[yY]'
    if x == 'Unknown':
        return np.nan
    elif re.findall(pattern1,x):
        return False
    elif re.findall(pattern2,x):
        return True
pep.Fatal = pep.Fatal.apply(clean_fatal)
pep.Fatal.head()

0    False
1    False
2    False
3    False
4    False
Name: Fatal, dtype: object

In [10]:
#cleaning country
pep['Country'].fillna('Unknown at sea',inplace= True)
def clean_country(x):
    x = str(x)
    pattern= re.findall(r'[a-zA-Z\(\)\-\?]+', x)
    if x == 'Unknown':
        return None
    elif pattern:
        return x.lower()
test = pep.copy()
test.Country = test.Country.apply(clean_country)
test.Country = test.Country.str.replace(r'[(\)\-\?]+', ' ')
len(test.Country.unique())

/var/folders/04/59t4vh2x34534rlkgcmfybl40000gn/T/ipykernel_36026/1981136078.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  test.Country = test.Country.str.replace(r'[(\)\-\?]+', ' ')

211

In [11]:
# Cleaning null values based on their activities and reducing types by globablizing 'Boat' types
test[test['Type'].isnull()]
test.at[85,'Type'] = 'Boat'
test.at[382,'Type'] = 'Questionable'
test.at[4867,'Type']= 'Boat'
test.at[5705,'Type'] = 'Questionable'
test.Type = test.Type.str.replace('Boating', 'Boat')  
test.Type = test.Type.str.replace('Boatomg', 'Boat')
print(test.Type.unique())

['Boat' 'Unprovoked' 'Invalid' 'Provoked' 'Questionable' 'Sea Disaster']

In [12]:
#Cleaning Age and using median to fill null values
data_ses =test[test['Year'] > 1950]
data_ses.Age.unique()
def clean_age(x):
    x=str(x)
    age_pattern = r'\b(\d{2})\b'  
    match = re.search(age_pattern, x)
    if match:
        age = int(match.group(1))
        return int(age)
    else:
        return np.nan
data_ses.Age = data_ses.Age.apply(clean_age)
data_ses.shape
data_ses[data_ses['Age'].isnull()]

data_ses.Age.astype('float64')
age_median = data_ses.Age.median()
data_ses.Age.fillna(age_median, inplace= True)
data_ses.Age.head()

/var/folders/04/59t4vh2x34534rlkgcmfybl40000gn/T/ipykernel_36026/132709086.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ses.Age = data_ses.Age.apply(clean_age)
/var/folders/04/59t4vh2x34534rlkgcmfybl40000gn/T/ipykernel_36026/132709086.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ses.Age.fillna(age_median, inplace= True)

0    57.0
1    11.0
2    48.0
3    25.0
4    25.0
Name: Age, dtype: float64

In [13]:
data_ses['Sex '] = data_ses['Sex '].str.replace('M ', 'M')
data_ses.at[1624,'Sex ']= 'M'
data_ses['Sex '].unique()

/var/folders/04/59t4vh2x34534rlkgcmfybl40000gn/T/ipykernel_36026/3485997590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ses['Sex '] = data_ses['Sex '].str.replace('M ', 'M')

array(['F', 'M', nan], dtype=object)

In [14]:






data_ses['Species '].unique()

array(['White shark', 'unknown', '2 m shark', ...,
       "White shark, 1.8 m [6'] ", "Wobbegong shark, 4'",
       '136-kg [300-lb] shark'], dtype=object)